In [275]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 15)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 15)

import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn import linear_model

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [276]:
df = pd.read_csv('titanic-train.csv')

In [277]:
df

,Unnamed: 0,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,PassengerId
0,1302,1,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.0,0,1,11767,83.1583,C,1302
1,17,0,3,"van Billiard, Master. Walter John",male,11.5,1,1,A/5. 851,14.5000,S,17
2,1049,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,S,1049
3,388,1,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.9250,S,388
4,1060,1,2,"Davis, Miss. Mary",female,28.0,0,0,237668,13.0000,S,1060
5,328,0,2,"Stanton, Mr. Samuel Ward",male,41.0,0,0,237734,15.0458,C,328
6,729,1,3,"Karun, Mr. Franz",male,39.0,0,1,349256,13.4167,C,729
...,...,...,...,...,...,...,...,...,...,...,...,...
866,865,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,S,865
867,135,0,2,"Giles, Mr. Ralph",male,24.0,0,0,248726,13.5000,S,135
868,382,0,3,"Rice, Master. George Hugh",male,8.0,4,1,382652,29.1250,Q,382
869,529,0,1,"Smart, Mr. John Montgomery",male,56.0,0,0,113792,26.5500,S,529
870,1215,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.0,1,0,11778,55.4417,C,1215
871,923,1,2,"Brown, Miss. Edith Eileen",female,15.0,0,2,29750,39.0000,S,923
872,1228,0,3,"Ford, Mr. Edward Watson",male,18.0,2,2,W./C. 6608,34.3750,S,1228

In [278]:
df.isnull().sum()

Unnamed: 0       0
Survived         0
Pclass           0
Name             0
Sex              0
Age            172
SibSp            0
Parch            0
Ticket           0
Fare             1
Embarked         2
PassengerId      0
dtype: int64

In [279]:
df_2 = df.dropna()

In [280]:
df_2.isnull().sum()

Unnamed: 0     0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
PassengerId    0
dtype: int64

In [281]:
df_2.describe()

,Unnamed: 0,Survived,Pclass,Age,SibSp,Parch,Fare,PassengerId
count,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000
mean,647.820917,0.418338,2.216332,29.457856,0.505731,0.434097,35.464971,647.820917
std,379.477562,0.493640,0.840453,14.181381,0.911017,0.825932,54.115270,379.477562
min,1.000000,0.000000,1.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,318.250000,0.000000,1.000000,21.000000,0.000000,0.000000,8.050000,318.250000
50%,640.500000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700,640.500000
75%,971.750000,1.000000,3.000000,38.000000,1.000000,1.000000,34.375000,971.750000
max,1307.000000,1.000000,3.000000,76.000000,8.000000,6.000000,512.329200,1307.000000

In [282]:
df.describe()

,Unnamed: 0,Survived,Pclass,Age,SibSp,Parch,Fare,PassengerId
count,873.000000,873.000000,873.000000,701.000000,873.000000,873.000000,872.000000,873.000000
mean,648.357388,0.392898,2.300115,29.560747,0.469645,0.387171,32.368950,648.357388
std,377.179578,0.488674,0.837325,14.255972,0.932003,0.831667,50.535715,377.179578
min,1.000000,0.000000,1.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,322.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800,322.000000
50%,638.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.479150,638.000000
75%,972.000000,1.000000,3.000000,38.000000,1.000000,0.000000,30.017700,972.000000
max,1307.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200,1307.000000

In [283]:
df.corr()

,Unnamed: 0,Survived,Pclass,Age,SibSp,Parch,Fare,PassengerId
Unnamed: 0,1.000000,0.006311,0.025241,0.020005,0.001659,0.019943,-0.028013,1.000000
Survived,0.006311,1.000000,-0.338951,-0.034977,-0.012812,0.107791,0.257220,0.006311
Pclass,0.025241,-0.338951,1.000000,-0.377474,0.064589,0.000924,-0.557365,0.025241
Age,0.020005,-0.034977,-0.377474,1.000000,-0.262496,-0.161495,0.139542,0.020005
SibSp,0.001659,-0.012812,0.064589,-0.262496,1.000000,0.358425,0.136756,0.001659
Parch,0.019943,0.107791,0.000924,-0.161495,0.358425,1.000000,0.189630,0.019943
Fare,-0.028013,0.257220,-0.557365,0.139542,0.136756,0.189630,1.000000,-0.028013
PassengerId,1.000000,0.006311,0.025241,0.020005,0.001659,0.019943,-0.028013,1.000000

In [284]:
smf.ols(formula = 'Survived ~ Pclass', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.115
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     113.1
Date:                Wed, 24 May 2017   Prob (F-statistic):           6.54e-25
Time:                        21:16:55   Log-Likelihood:                -559.84
No. Observations:                 873   AIC:                             1124.
Df Residuals:                     871   BIC:                             1133.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.8479      0.046     18.620      0.000         0.759     0.937
Pclass        -0.1978      0.019    -10.633      0.000        -0.234    -0.161
==============================================================================
Omnibus:                     1908.301   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               85.328
Skew:                           0.402   Prob(JB):                     2.96e-19
Kurtosis:                       1.696   Cond. No.                         8.23
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [285]:
smf.ols(formula = 'Survived ~ Age', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.8562
Date:                Wed, 24 May 2017   Prob (F-statistic):              0.355
Time:                        21:16:56   Log-Likelihood:                -499.12
No. Observations:                 701   AIC:                             1002.
Df Residuals:                     699   BIC:                             1011.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4552      0.043     10.595      0.000         0.371     0.540
Age           -0.0012      0.001     -0.925      0.355        -0.004     0.001
==============================================================================
Omnibus:                       12.091   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.002   Jarque-Bera (JB):              116.614
Skew:                           0.326   Prob(JB):                     4.76e-26
Kurtosis:                       1.111   Cond. No.                         75.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [286]:
smf.ols(formula = 'Survived ~Fare', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     61.64
Date:                Wed, 24 May 2017   Prob (F-statistic):           1.21e-14
Time:                        21:16:56   Log-Likelihood:                -582.74
No. Observations:                 872   AIC:                             1169.
Df Residuals:                     870   BIC:                             1179.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.3128      0.019     16.457      0.000         0.276     0.350
Fare           0.0025      0.000      7.851      0.000         0.002     0.003
==============================================================================
Omnibus:                       27.411   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              122.359
Skew:                           0.450   Prob(JB):                     2.69e-27
Kurtosis:                       1.401   Cond. No.                         71.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [287]:
smf.ols(formula = 'Survived ~ Parch', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.010
Method:                 Least Squares   F-statistic:                     10.24
Date:                Wed, 24 May 2017   Prob (F-statistic):            0.00142
Time:                        21:16:57   Log-Likelihood:                -608.01
No. Observations:                 873   AIC:                             1220.
Df Residuals:                     871   BIC:                             1230.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.3684      0.018     20.297      0.000         0.333     0.404
Parch          0.0633      0.020      3.200      0.001         0.024     0.102
==============================================================================
Omnibus:                       24.351   Durbin-Watson:                   1.959
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              138.145
Skew:                           0.422   Prob(JB):                     1.00e-30
Kurtosis:                       1.244   Cond. No.                         1.58
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [288]:
smf.ols(formula = 'Survived ~ PassengerId', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                   0.03470
Date:                Wed, 24 May 2017   Prob (F-statistic):              0.852
Time:                        21:16:57   Log-Likelihood:                -613.10
No. Observations:                 873   AIC:                             1230.
Df Residuals:                     871   BIC:                             1240.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept       0.3876      0.033     11.773      0.000         0.323     0.452
PassengerId  8.177e-06   4.39e-05      0.186      0.852      -7.8e-05  9.43e-05
==============================================================================
Omnibus:                       26.130   Durbin-Watson:                   1.964
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              146.824
Skew:                           0.439   Prob(JB):                     1.31e-32
Kurtosis:                       1.193   Cond. No.                     1.49e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [289]:
smf.ols(formula = 'Survived ~ Parch + Age + Pclass + Sex + SibSp', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.372
Method:                 Least Squares   F-statistic:                     84.00
Date:                Wed, 24 May 2017   Prob (F-statistic):           5.27e-69
Time:                        21:16:58   Log-Likelihood:                -333.88
No. Observations:                 701   AIC:                             679.8
Df Residuals:                     695   BIC:                             707.1
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept       1.3104      0.068     19.136      0.000         1.176     1.445
Sex[T.male]    -0.4830      0.032    -14.971      0.000        -0.546    -0.420
Parch           0.0116      0.020      0.587      0.557        -0.027     0.051
Age            -0.0050      0.001     -4.274      0.000        -0.007    -0.003
Pclass         -0.1909      0.019     -9.847      0.000        -0.229    -0.153
SibSp          -0.0559      0.018     -3.125      0.002        -0.091    -0.021
==============================================================================
Omnibus:                       23.073   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.832
Skew:                           0.456   Prob(JB):                     4.05e-06
Kurtosis:                       2.870   Cond. No.                         157.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [290]:
smf.ols(formula = 'Survived ~ Age + Pclass + Sex + SibSp', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.376
Model:                            OLS   Adj. R-squared:                  0.373
Method:                 Least Squares   F-statistic:                     105.0
Date:                Wed, 24 May 2017   Prob (F-statistic):           5.72e-70
Time:                        21:16:58   Log-Likelihood:                -334.05
No. Observations:                 701   AIC:                             678.1
Df Residuals:                     696   BIC:                             700.9
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept       1.3178      0.067     19.589      0.000         1.186     1.450
Sex[T.male]    -0.4874      0.031    -15.550      0.000        -0.549    -0.426
Age            -0.0050      0.001     -4.320      0.000        -0.007    -0.003
Pclass         -0.1909      0.019     -9.852      0.000        -0.229    -0.153
SibSp          -0.0526      0.017     -3.098      0.002        -0.086    -0.019
==============================================================================
Omnibus:                       23.259   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.047
Skew:                           0.458   Prob(JB):                     3.64e-06
Kurtosis:                       2.868   Cond. No.                         154.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [291]:
df['youngman'] = df['sex'] = 'Male' and df['Age'] < 30

In [292]:
df.youngman.sum()

386

In [293]:
df[ ['Survived', 'youngman'] ].sum()

Survived    343.0
youngman    386.0
dtype: float64

In [329]:
df['oldlady'] = df['sex'] = 'female' and df['Age'] > 50

C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [295]:
df.oldlady.sum()

61

In [296]:
df[ ['Survived', 'oldlady'] ].sum()

Survived    343.0
oldlady      61.0
dtype: float64

In [297]:
smf.ols(formula = 'Survived ~ youngman', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.3663
Date:                Wed, 24 May 2017   Prob (F-statistic):              0.545
Time:                        21:17:03   Log-Likelihood:                -612.93
No. Observations:                 873   AIC:                             1230.
Df Residuals:                     871   BIC:                             1239.
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------
Intercept            0.3840      0.022     17.334      0.000         0.341     0.427
youngman[T.True]     0.0202      0.033      0.605      0.545        -0.045     0.086
==============================================================================
Omnibus:                       26.103   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              146.611
Skew:                           0.438   Prob(JB):                     1.46e-32
Kurtosis:                       1.194   Cond. No.                         2.50
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [298]:
df['richguy'] = df['Sex'] = 'male' and df['Pclass'] < 2

In [299]:
df.richguy

0       True
1      False
2       True
3      False
4      False
5      False
6      False
       ...
866    False
867    False
868    False
869     True
870     True
871    False
872    False
Name: richguy, dtype: bool

In [300]:
smf.ols(formula = 'Survived ~ richguy', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.090
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                     85.79
Date:                Wed, 24 May 2017   Prob (F-statistic):           1.52e-19
Time:                        21:17:05   Log-Likelihood:                -572.11
No. Observations:                 873   AIC:                             1148.
Df Residuals:                     871   BIC:                             1158.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
Intercept           0.3096      0.018     17.034      0.000         0.274     0.345
richguy[T.True]     0.3400      0.037      9.262      0.000         0.268     0.412
==============================================================================
Omnibus:                       26.552   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               99.464
Skew:                           0.442   Prob(JB):                     2.52e-22
Kurtosis:                       1.603   Cond. No.                         2.49
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [301]:
df.corr()

,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,PassengerId,youngman,sex,oldlady,richguy
Unnamed: 0,1.000000,0.006311,0.025241,-0.015120,0.020005,0.001659,0.019943,-0.028013,1.000000,-0.003310,0.042102,0.042102,-0.015120
Survived,0.006311,1.000000,-0.338951,0.299439,-0.034977,-0.012812,0.107791,0.257220,0.006311,0.020502,0.018706,0.018706,0.299439
Pclass,0.025241,-0.338951,1.000000,-0.885321,-0.377474,0.064589,0.000924,-0.557365,0.025241,0.179577,-0.254002,-0.254002,-0.885321
Sex,-0.015120,0.299439,-0.885321,1.000000,0.350223,-0.038605,-0.012349,0.597318,-0.015120,-0.207075,0.240733,0.240733,1.000000
Age,0.020005,-0.034977,-0.377474,0.350223,1.000000,-0.262496,-0.161495,0.139542,0.020005,-0.784073,0.628577,0.628577,0.350223
SibSp,0.001659,-0.012812,0.064589,-0.038605,-0.262496,1.000000,0.358425,0.136756,0.001659,0.135487,-0.041718,-0.041718,-0.038605
Parch,0.019943,0.107791,0.000924,-0.012349,-0.161495,0.358425,1.000000,0.189630,0.019943,0.095877,-0.014149,-0.014149,-0.012349
Fare,-0.028013,0.257220,-0.557365,0.597318,0.139542,0.136756,0.189630,1.000000,-0.028013,-0.076123,0.089213,0.089213,0.597318
PassengerId,1.000000,0.006311,0.025241,-0.015120,0.020005,0.001659,0.019943,-0.028013,1.000000,-0.003310,0.042102,0.042102,-0.015120
youngman,-0.003310,0.020502,0.179577,-0.207075,-0.784073,0.135487,0.095877,-0.076123,-0.003310,1.000000,-0.244015,-0.244015,-0.207075
sex,0.042102,0.018706,-0.254002,0.240733,0.628577,-0.041718,-0.014149,0.089213,0.042102,-0.244015,1.000000,1.000000,0.240733
oldlady,0.042102,0.018706,-0.254002,0.240733,0.628577,-0.041718,-0.014149,0.089213,0.042102,-0.244015,1.000000,1.000000,0.240733
richguy,-0.015120,0.299439,-0.885321,1.000000,0.350223,-0.038605,-0.012349,0.597318,-0.015120,-0.207075,0.240733,0.240733,1.000000

In [302]:
df['poorguy'] = df['sex'] = 'male' and df['Pclass'] > 1

In [303]:
df.poorguy.sum()

659

In [304]:
smf.ols(formula = 'Survived ~ poorguy', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.090
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                     85.79
Date:                Wed, 24 May 2017   Prob (F-statistic):           1.52e-19
Time:                        21:17:08   Log-Likelihood:                -572.11
No. Observations:                 873   AIC:                             1148.
Df Residuals:                     871   BIC:                             1158.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
Intercept           0.6495      0.032     20.368      0.000         0.587     0.712
poorguy[T.True]    -0.3400      0.037     -9.262      0.000        -0.412    -0.268
==============================================================================
Omnibus:                       26.552   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               99.464
Skew:                           0.442   Prob(JB):                     2.52e-22
Kurtosis:                       1.603   Cond. No.                         3.82
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [306]:
smf.ols(formula = 'Survived ~ Age + Pclass + Sex + SibSp', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.160
Model:                            OLS   Adj. R-squared:                  0.155
Method:                 Least Squares   F-statistic:                     33.10
Date:                Wed, 24 May 2017   Prob (F-statistic):           2.71e-25
Time:                        21:17:16   Log-Likelihood:                -438.51
No. Observations:                 701   AIC:                             887.0
Df Residuals:                     696   BIC:                             909.8
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept       1.1649      0.127      9.180      0.000         0.916     1.414
Sex[T.True]     0.0283      0.081      0.350      0.726        -0.130     0.187
Age            -0.0072      0.001     -5.356      0.000        -0.010    -0.005
Pclass         -0.2388      0.043     -5.557      0.000        -0.323    -0.154
SibSp          -0.0220      0.020     -1.124      0.262        -0.061     0.016
==============================================================================
Omnibus:                      568.787   Durbin-Watson:                   2.012
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               54.027
Skew:                           0.302   Prob(JB):                     1.85e-12
Kurtosis:                       1.781   Cond. No.                         287.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [368]:
df = df.dropna()

In [396]:
X = df[ ['Age', 'Pclass', 'Fare', 'poorguy','richguy', 'PassengerId']]
c = df.Survived

model = linear_model.LogisticRegression(penalty = 'l1').\
    fit(X, c)

In [397]:
model.score(X, c)

0.71346704871060174

In [398]:
c_hat = model.predict(X)

pd.crosstab(c_hat,
    c,
    rownames = ['Hypothesized Class'],
    colnames = ['True Class'])

True Class            0    1
Hypothesized Class
0                   344  138
1                    62  154

In [399]:
dfTest = pd.read_csv('titanic-test.csv')

In [400]:
dfTest

,Unnamed: 0,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,PassengerId
0,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,S,0
1,2,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,S,2
2,4,2,"Jefferys, Mr. Clifford Thomas",male,24.0,2,0,C.A. 31029,31.5000,S,4
3,6,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,S,6
4,12,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,C,12
5,13,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,S,13
6,15,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,Q,15
...,...,...,...,...,...,...,...,...,...,...,...
429,1288,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,S,1288
430,1291,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,Q,1291
431,1293,3,"Nieminen, Miss. Manta Josefina",female,29.0,0,0,3101297,7.9250,S,1293
432,1297,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",female,30.0,3,0,31027,21.0000,S,1297
433,1298,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,C,1298
434,1301,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.9000,S,1301
435,1308,2,"Deacon, Mr. Percy William",male,17.0,0,0,S.O.C. 14879,73.5000,S,1308

In [401]:
dfTest.dropna()

,Unnamed: 0,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,PassengerId
1,2,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,S,2
2,4,2,"Jefferys, Mr. Clifford Thomas",male,24.0,2,0,C.A. 31029,31.5000,S,4
4,12,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,C,12
5,13,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,S,13
6,15,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,Q,15
7,16,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,16
9,20,2,"Troutt, Miss. Edwina Celia ""Winnie""",female,27.0,0,0,34218,10.5000,S,20
...,...,...,...,...,...,...,...,...,...,...,...
428,1285,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1,0,PC 17761,106.4250,C,1285
429,1288,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,S,1288
431,1293,3,"Nieminen, Miss. Manta Josefina",female,29.0,0,0,3101297,7.9250,S,1293
432,1297,2,"Renouf, Mrs. Peter Henry (Lillian Jefferys)",female,30.0,3,0,31027,21.0000,S,1297
433,1298,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,C,1298
434,1301,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.9000,S,1301
435,1308,2,"Deacon, Mr. Percy William",male,17.0,0,0,S.O.C. 14879,73.5000,S,1308

In [402]:
dfTest['poorguy'] = dfTest['Sex'] = 'male' and dfTest['Pclass'] > 1

In [403]:
dfTest['richguy'] = dfTest['Sex'] = 'male' and dfTest['Pclass'] < 2

In [404]:
dfTest['oldlady'] = dfTest['Sex'] = 'female' and dfTest['Age'] > 50

In [405]:
model.predict(dfTest)

ValueError: could not convert string to float: 'S'

In [406]:
dfTest.to_csv

<bound method DataFrame.to_csv of      Unnamed: 0  Pclass                                             Name  \
0             0       2                 Frost, Mr. Anthony Wood "Archie"
1             2       3                                 Danoff, Mr. Yoto
2             4       2                    Jefferys, Mr. Clifford Thomas
3             6       3                                  Sage, Miss. Ada
4            12       1                        Stahelin-Maeglin, Dr. Max
5            13       2                       Bateman, Rev. Robert James
6            15       3                         Conlon, Mr. Thomas Henry
..          ...     ...                                              ...
429        1288       3                                Cor, Mr. Liudevit
430        1291       3                             O'Brien, Mr. Timothy
431        1293       3                   Nieminen, Miss. Manta Josefina
432        1297       2      Renouf, Mrs. Peter Henry (Lillian Jefferys)
433        1298       1  Baxter, Mrs. James (Helene DeLaudeniere Chaput)
434        1301       3                   Goodwin, Master. Harold Victor
435        1308       2                        Deacon, Mr. Percy William

       Sex   Age  SibSp  Parch        Ticket      Fare Embarked  PassengerId  \
0    False   NaN      0      0        239854    0.0000        S            0
1    False  27.0      0      0        349219    7.8958        S            2
2    False  24.0      2      0    C.A. 31029   31.5000        S            4
3    False   NaN      8      2      CA. 2343   69.5500        S            6
4    False  32.0      0      0         13214   30.5000        C           12
5     True  51.0      0      0   S.O.P. 1166   12.5250        S           13
6    False  31.0      0      0         21332    7.7333        Q           15
..     ...   ...    ...    ...           ...       ...      ...          ...
429  False  19.0      0      0        349231    7.8958        S         1288
430  False   NaN      0      0        330979    7.8292        Q         1291
431  False  29.0      0      0       3101297    7.9250        S         1293
432  False  30.0      3      0         31027   21.0000        S         1297
433  False  50.0      0      1      PC 17558  247.5208        C         1298
434  False   9.0      5      2       CA 2144   46.9000        S         1301
435  False  17.0      0      0  S.O.C. 14879   73.5000        S         1308

    poorguy richguy oldlady
0      True   False   False
1      True   False   False
2      True   False   False
3      True   False   False
4     False    True   False
5      True   False    True
6      True   False   False
..      ...     ...     ...
429    True   False   False
430    True   False   False
431    True   False   False
432    True   False   False
433   False    True   False
434    True   False   False
435    True   False   False

[436 rows x 14 columns]>